Repository zotoio/x-fidelity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zotoio/core-team, @zotoio/rules-team, @zotoio/plugin-team, @zotoio/api-team, @zotoio/docs-team, @zotoio/notification-team

feat(canary): example with proxy support for canary installs in ci
  canary-install/canary-install-example.sh
  canary-install/flagCheck.js
  canary-install/xfi-version-current.txt
  canary-install/xfi-version-new.txt
  package.json
  yarn.lock
Owners: @zotoio/core-team

chore(release): 3.17.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  bb55175c2532955dc86dc0825e0c44dc42ecdb07
Owners: @zotoio/core-team

fix(deps): cleanup
  canary-install/package.json
  canary-install/yarn.lock
  package.json
  yarn.lock
Owners: @zotoio/core-team

chore(release): 3.17.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  37767abeff926af02dc9643117baec32db29b4de
Owners: @zotoio/core-team

feat: add support for external rule references in xfi config
  src/types/typeDefs.ts
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

test: add unit tests for repoXFIConfigLoader
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

fix: handle type safety and increase test timeout for exemption utils
  src/utils/exemptionUtils.test.ts
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

test: expand mock XFI_RESULT with additional test coverage fields
  src/index.test.ts
Owners: @zotoio/core-team

feat: add support for loading rules from URLs and multiple paths
  src/types/typeDefs.ts
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

fix: resolve TypeScript errors in config loader and tests
  src/utils/exemptionUtils.test.ts
  src/utils/repoXFIConfigLoader.test.ts
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

feat: add additionalRules field to default XFI config
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

feat: add missing fields to default XFI config
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

test: enable getDependencyVersionFacts test suite
  src/facts/repoDependencyFacts.test.ts
Owners: @zotoio/rules-team

test: enhance dependency version facts tests with yarn mocks
  src/facts/repoDependencyFacts.test.ts
Owners: @zotoio/rules-team

fix: add missing execSync import in repoDependencyFacts test
  src/facts/repoDependencyFacts.test.ts
Owners: @zotoio/rules-team

docs: add custom rules, facts and plugins configuration
  website/docs/local-configuration.md
Owners: @zotoio/docs-team

feat(xfi-config): support for file references in repo config for additional rules
  src/plugins/xfiPluginAst/facts/codeRhythmFact.test.ts
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
  src/utils/exemptionUtils.test.ts
  src/utils/repoXFIConfigLoader.test.ts
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/plugin-team, @zotoio/core-team

chore(release): 3.18.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  0d92a67d623dc750b81589f15c32f9e9d0f05c2b
Owners: @zotoio/core-team

refactor: split rule processing into separate functions for better organization
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

feat: add deduplication for rules and failure results
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
Owners: @zotoio/core-team

fix: update fs mock to include promises property in test
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

test: add fs.open mock for pino logger tests
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

fix: update glob import to use dynamic import pattern
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

feat: Add CLI options import to repo config loader
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

refactor: improve error handling and config validation in XFI loader
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

refactor: improve mock implementations in repoXFIConfigLoader tests
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

style: fix indentation and error message formatting in test file
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

fix: correct TypeScript type errors in repoXFIConfigLoader tests
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

docs: expand rule configuration documentation with examples and details
  website/docs/local-configuration.md
Owners: @zotoio/docs-team

fix: remove duplicate code blocks and fix return statements in config loader
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

fix: update test mocks to handle file paths correctly
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

fix: Replace continue with return in rule registration loop
  src/core/engine/engineSetup.ts
Owners: @zotoio/core-team

fix: handle undefined sensitiveFileFalsePositives in config loader
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

fix: improve inline rule validation and logging in config loader
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

refactor: restructure loadRepoXFIConfig function and improve error handling
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

refactor: Improve rule loading logic in XFI config loader
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

refactor: improve rule loading logic and error handling in config loader
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @zotoio/core-team

# Specific ownership rules
/src/core/ @zotoio/core-team
/src/facts/ @zotoio/rules-team
/src/operators/ @zotoio/rules-team
/src/plugins/ @zotoio/plugin-team
/src/server/ @zotoio/api-team
/src/types/ @zotoio/core-team
/src/utils/ @zotoio/core-team
/website/ @zotoio/docs-team

# Notification test team
/src/notifications/ @zotoio/notification-team
