Repository zotoio/x-fidelity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zotoio/core-team, @zotoio/rules-team, @zotoio/plugin-team, @zotoio/api-team, @zotoio/docs-team, @zotoio/notification-team

feat(plugins): add workspace support for manifest location parsing
  packages/x-fidelity-plugins/package.json
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.ts
  yarn.lock
Owners: @zotoio/core-team

fix(plugins): resolve relative paths in manifest location parsing
  .gitignore
  packages/x-fidelity-plugins/src/sharedPluginUtils/astUtils/astUtils.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.ts
Owners: @zotoio/core-team

fix(plugins): don't cache empty dependency results
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
Owners: @zotoio/core-team

feat(plugins): parse lockfiles directly instead of running package manager commands
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.ts
Owners: @zotoio/core-team

feat(plugins): add support for yarn resolutions and package overrides
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.ts
Owners: @zotoio/core-team

test(plugins): update repoDependencyFacts tests for lockfile parsing
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
Owners: @zotoio/core-team

feat(vscode): enhance IssueContext with highlighting and match details for AI providers
  packages/x-fidelity-vscode/src/core/commandDelegationRegistry.ts
  packages/x-fidelity-vscode/src/core/extensionManager.ts
Owners: @zotoio/core-team

refactor(plugins): use hybrid approach for dependency collection
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
Owners: @zotoio/core-team

fix(plugins): use relative paths for manifestPath in dependency locations
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.ts
Owners: @zotoio/core-team

fix(plugins): fix scoped package detection in yarn lockfile and add test coverage
  CHANGELOG.md
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.ts
  packages/x-fidelity-vscode/src/test/unit/codeActionProvider.unit.test.ts
  packages/x-fidelity-vscode/src/test/unit/codeSnippetExtractor.unit.test.ts
  packages/x-fidelity-vscode/src/test/unit/ideDetection.unit.test.ts
  packages/x-fidelity-vscode/src/utils/codeSnippetExtractor.ts
Owners: @zotoio/core-team

fix(vscode): restore diagnostics from cache when toggled back ON
  packages/x-fidelity-vscode/src/core/extensionManager.ts
  packages/x-fidelity-vscode/src/core/resultCoordinator.ts
Owners: @zotoio/core-team

fix(plugins): keep pnpm section depth
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.ts
Owners: @zotoio/core-team

Update packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
Owners: @zotoio/core-team

chore: update yarn.lock to reflect package version changes
  website/yarn.lock
Owners: @zotoio/docs-team

fix: website/package.json to reduce vulnerabilities
  website/package.json
Owners: @zotoio/docs-team

Notes added by 'git notes add'
  cd3178ea0885037cc73d46d3dcf458cf243cf2ab
Owners: @zotoio/core-team

chore(release): 5.5.0 [skip ci]
  CHANGELOG.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

bump: version 5.5.1 for npm, GitHub, OpenVSX, and VSCode Marketplace
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

chore(release): 5.5.1 [skip ci]
  CHANGELOG.md
Owners: @zotoio/core-team

Notes added by 'git notes add'
  4df11ea9624ee0548275ffbb281d208b23a1f1f2
Owners: @zotoio/core-team

ci: update unified release workflow configuration
  .github/workflows/release-unified.yml
Owners: @zotoio/core-team

chore(release): 5.5.1 [skip ci]
  CHANGELOG.md
Owners: @zotoio/core-team

bump: version 5.5.1 for npm, GitHub, OpenVSX, and VSCode Marketplace
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

bump: version 5.5.2 for npm, GitHub, OpenVSX, and VSCode Marketplace
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  f2bb56e2d9b44d37e45c0770c1b64cd84d8d7c99
Owners: @zotoio/core-team

chore(release): 5.5.2 [skip ci]
  CHANGELOG.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

feat: add xfiPluginExtractValues to default plugins list
  packages/x-fidelity-core/src/core/configManager.ts
Owners: @zotoio/core-team

chore(release): 5.6.0 [skip ci]
  CHANGELOG.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  34c7817465875c1a0cbac8d62cae0f4c309a78c4
Owners: @zotoio/core-team

feat: switch to npm OIDC trusted publishing
  .github/workflows/release-unified.yml
  .releaserc.json
  UNIFIED-RELEASE.md
  scripts/publish-unified-release.js
Owners: @zotoio/core-team

fix: resolve complexity data path mismatch in report generator
  packages/x-fidelity-core/src/notifications/reportGenerator.test.ts
  packages/x-fidelity-core/src/notifications/reportGenerator.ts
Owners: @zotoio/core-team

feat(vscode): combine diagnostics and autorun toggles into single Session Active toggle
  packages/x-fidelity-vscode/package.json
  packages/x-fidelity-vscode/src/core/extensionManager.ts
  packages/x-fidelity-vscode/src/test/unit/extensionManager.unit.test.ts
  packages/x-fidelity-vscode/src/ui/treeView/controlCenterTreeProvider.ts
  packages/x-fidelity-vscode/src/ui/treeView/controlCenterTreeViewManager.ts
Owners: @zotoio/core-team

feat: add X-Fidelity SME subagents for specialized AI assistance
  .cursor/agents/negative-nelly.md
  .cursor/agents/positive-patty.md
  .cursor/agents/xfi-build-expert.md
  .cursor/agents/xfi-code-reviewer.md
  .cursor/agents/xfi-debugger.md
  .cursor/agents/xfi-docs-expert.md
  .cursor/agents/xfi-plugin-expert.md
  .cursor/agents/xfi-rules-expert.md
  .cursor/agents/xfi-security-expert.md
  .cursor/agents/xfi-testing-expert.md
  .cursor/agents/xfi-vscode-expert.md
  .cursor/rules/subagent-delegation.mdc
  AGENTS.md
Owners: @zotoio/core-team

feat: add project-specific skills for common development workflows
  .cursor/skills/xfi-add-package/SKILL.md
  .cursor/skills/xfi-consistency-testing/SKILL.md
  .cursor/skills/xfi-create-archetype/SKILL.md
  .cursor/skills/xfi-create-plugin/SKILL.md
  .cursor/skills/xfi-create-rule/SKILL.md
  .cursor/skills/xfi-debug-analysis/SKILL.md
  .cursor/skills/xfi-documentation-update/SKILL.md
  .cursor/skills/xfi-release-workflow/SKILL.md
Owners: @zotoio/core-team

feat: add Cursor slash commands for X-Fidelity development workflows
  .cursor/commands/xfi-analyze.md
  .cursor/commands/xfi-build.md
  .cursor/commands/xfi-consistency.md
  .cursor/commands/xfi-create-archetype.md
  .cursor/commands/xfi-create-plugin.md
  .cursor/commands/xfi-create-rule.md
  .cursor/commands/xfi-debug.md
  .cursor/commands/xfi-docs.md
  .cursor/commands/xfi-fix.md
  .cursor/commands/xfi-release.md
  .cursor/commands/xfi-review.md
  .cursor/commands/xfi-security.md
  .cursor/commands/xfi-test.md
Owners: @zotoio/core-team

test: add comprehensive unit tests for security, core, and plugin packages
  packages/x-fidelity-core/src/core/options.test.ts
  packages/x-fidelity-core/src/security/pathValidator.test.ts
  packages/x-fidelity-core/src/security/urlValidator.test.ts
  packages/x-fidelity-core/src/utils/axiosClient.test.ts
  packages/x-fidelity-core/src/utils/fileCacheManager.test.ts
  packages/x-fidelity-plugins/src/sharedPluginUtils/astUtils/languageUtils.test.ts
  packages/x-fidelity-plugins/src/xfiPluginFilesystem/operators/hasFilesWithMultiplePatterns.test.ts
  packages/x-fidelity-plugins/src/xfiPluginFilesystem/operators/nonStandardDirectoryStructure.test.ts
  packages/x-fidelity-plugins/src/xfiPluginPatterns/operators/globalPatternCount.test.ts
  packages/x-fidelity-plugins/src/xfiPluginPatterns/operators/globalPatternRatio.test.ts
  packages/x-fidelity-plugins/src/xfiPluginPatterns/operators/regexMatch.test.ts
  packages/x-fidelity-server/src/routes/githubWebhookConfigUpdateRoute.test.ts
  packages/x-fidelity-server/src/routes/githubWebhookPullRequestCheckRoute.test.ts
Owners: @zotoio/core-team

test: add CLI and server utility tests for Priority 4 coverage
  CONTRIBUTING.md
  packages/x-fidelity-cli/src/index.test.ts
  packages/x-fidelity-server/src/utils/serverLogger.test.ts
  website/docs/contributing.md
  website/docs/contributing/building-with-cursor.md
  website/sidebars.js
Owners: @zotoio/core-team, @zotoio/docs-team

test: add CLIAnalysisManager unit tests for VSCode extension
  packages/x-fidelity-vscode/src/test/unit/cliAnalysisManager.unit.test.ts
Owners: @zotoio/core-team

test: add StatusBarProvider unit tests and enhance VSCode mocks
  packages/x-fidelity-vscode/src/test/mocks/vscode.mock.ts
  packages/x-fidelity-vscode/src/test/unit/statusBarProvider.unit.test.ts
Owners: @zotoio/core-team

test: add ReportManager unit tests for VSCode extension
  packages/x-fidelity-vscode/src/test/unit/reportManager.unit.test.ts
Owners: @zotoio/core-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @zotoio/core-team

# Specific ownership rules
/src/core/ @zotoio/core-team
/src/facts/ @zotoio/rules-team
/src/operators/ @zotoio/rules-team
/src/plugins/ @zotoio/plugin-team
/src/server/ @zotoio/api-team
/src/types/ @zotoio/core-team
/src/utils/ @zotoio/core-team
/website/ @zotoio/docs-team

# Notification test team
/src/notifications/ @zotoio/notification-team
