Repository zotoio/x-fidelity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zotoio/core-team, @zotoio/rules-team, @zotoio/plugin-team, @zotoio/api-team, @zotoio/docs-team, @zotoio/notification-team

chore: add environment variable logging for debugging
  src/index.ts
Owners: @zotoio/core-team

feat: add debug logging for notification flow
  src/index.ts
Owners: @zotoio/core-team

test: enhance notification test mocks with detailed implementations
  src/notifications/notifications.test.ts
Owners: @zotoio/notification-team

fix: update NotificationManager mock to properly handle registerProvider
  src/notifications/notifications.test.ts
Owners: @zotoio/notification-team

fix: Remove duplicate import statement in notifications test
  src/notifications/notifications.test.ts
Owners: @zotoio/notification-team

test: add environment cleanup and debug logging to notification tests
  src/notifications/notifications.test.ts
Owners: @zotoio/notification-team

fix(results): fix missing filesystem match details
  .xfi-config.json
  package.json
  scripts/test-notification.ts
  src/core/cli.ts
  src/demoConfig/node-fullstack.json
  src/facts/repoFilesystemFacts.ts
  src/index.ts
  yarn.lock
Owners: @zotoio/core-team, @zotoio/rules-team

chore(release): 3.11.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  2182f65ba160e515960a3e1f0cfcde14dc9b58fb
Owners: @zotoio/core-team

refactor: Remove unused path import from notificationManager
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

fix: remove trailing comma in .xfi-config.json
  .xfi-config.json
Owners: @zotoio/core-team

refactor: move notification templates from config to code
  .xfi-config.json
  src/notifications/notificationManager.ts
  src/types/notificationTypes.ts
  src/types/typeDefs.ts
Owners: @zotoio/core-team, @zotoio/notification-team

refactor: remove custom templates from notification manager
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

feat: add failed rule names to notification template for each file
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

fix: escape nested template literals in notification template
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

fix: replace nested template literals with string concatenation
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

refactor: remove unused template function in NotificationManager
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

fix: correct string interpolation syntax in notification template
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

refactor: replace string templates with direct interpolation in report generation
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

feat: add severity levels to failed rules in notification output
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

fix: remove duplicate fileIssues declaration in notification manager
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

feat: enhance notification templates with clickable links and emojis
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

feat: support GitHub Enterprise links in notifications
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

feat: use git commands to extract GitHub repo details
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

fix: remove local directory paths from notification file links
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

fix: use repoPath from results metadata instead of undefined variable
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

feat: enhance notification formatting with HTML and color-coded severity
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

refactor: convert report template from markdown to HTML format
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

fix: add HTML email support with plain text fallback
  src/notifications/providers/emailProvider.ts
Owners: @zotoio/notification-team

style: Update notification colors and add bold font weight for rule failures
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

feat: add YAML results attachment to email notifications
  src/notifications/notificationManager.ts
  src/notifications/providers/emailProvider.ts
Owners: @zotoio/notification-team

fix: resolve TypeScript errors with yaml imports and variable declarations
  src/notifications/notificationManager.ts
  src/notifications/providers/emailProvider.ts
Owners: @zotoio/notification-team

fix: correct template literal syntax in notification manager
  src/notifications/notificationManager.ts
Owners: @zotoio/notification-team

fix(notify): email formatting fixes
  package.json
  src/demoConfig/rules/newSdkFeatureNotAdoped-global-rule.json
  src/demoConfig/rules/noDatabases-iterative-rule.json
  src/demoConfig/rules/sensitiveLogging-iterative-rule.json
  src/index.test.ts
  src/index.ts
  src/notifications/notificationManager.ts
  yarn.lock
Owners: @zotoio/core-team, @zotoio/notification-team

chore(release): 3.12.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  06adfc98077260c5afd98208201a8a2f13d0544f
Owners: @zotoio/core-team

docs: add notification system documentation and configuration
  website/docs/getting-started.md
  website/docs/local-configuration.md
  website/sidebars.js
Owners: @zotoio/docs-team

fix(examples): simple rules to check code evolution
  src/demoConfig/node-fullstack.json
  src/demoConfig/rules/mutuallyExclusivePackages-global-rule.json
  src/demoConfig/rules/newSdkFeatureNotAdoped-global-rule.json
  src/exampleTriggerFiles/mixedUIComponents.tsx
  src/facts/globalFileAnalysisFacts.ts
Owners: @zotoio/core-team, @zotoio/rules-team

chore(release): 3.12.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  1342ff8e8e1efdf2054b5e6ab067422e62434064
Owners: @zotoio/core-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @zotoio/core-team

# Specific ownership rules
/src/core/ @zotoio/core-team
/src/facts/ @zotoio/rules-team
/src/operators/ @zotoio/rules-team
/src/plugins/ @zotoio/plugin-team
/src/server/ @zotoio/api-team
/src/types/ @zotoio/core-team
/src/utils/ @zotoio/core-team
/website/ @zotoio/docs-team

# Notification test team
/src/notifications/ @zotoio/notification-team
