Repository zotoio/x-fidelity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zotoio/core-team, @zotoio/rules-team, @zotoio/plugin-team, @zotoio/api-team, @zotoio/docs-team, @zotoio/notification-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @zotoio/core-team

# Specific ownership rules
/src/core/ @zotoio/core-team
/src/facts/ @zotoio/rules-team
/src/operators/ @zotoio/rules-team
/src/plugins/ @zotoio/plugin-team
/src/server/ @zotoio/api-team
/src/types/ @zotoio/core-team
/src/utils/ @zotoio/core-team
/website/ @zotoio/docs-team

# Notification test team
/src/notifications/ @zotoio/notification-team

test: add example files and fix test file paths for code rhythm tests
  src/exampleTriggerFiles/goodCodeRhythm.ts
  src/exampleTriggerFiles/poorCodeRhythm.ts
  src/plugins/xfiPluginAst/facts/codeRhythmFact.test.ts
Owners: @zotoio/core-team, @zotoio/plugin-team

fix: improve code rhythm metrics calculation and normalization
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

feat: normalize discontinuity score and add metrics logging
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

fix: enhance flow density calculation and correct threshold logging
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

fix: add missing types and remove duplicate code in example files
  src/exampleTriggerFiles/goodCodeRhythm.ts
  src/exampleTriggerFiles/poorCodeRhythm.ts
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/core-team, @zotoio/plugin-team

feat: add types file and consolidate type imports
  src/exampleTriggerFiles/goodCodeRhythm.ts
  src/exampleTriggerFiles/types.ts
Owners: @zotoio/core-team

refactor: enhance function complexity detection with multiple metrics
  src/plugins/xfiPluginAst/operators/astComplexity.ts
  src/plugins/xfiPluginAst/sampleRules/functionComplexity-iterative-rule.json
Owners: @zotoio/plugin-team

feat: enhance function complexity analysis with additional metrics
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

refactor: enhance function complexity analysis with improved metrics
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

feat: make complexity thresholds configurable via params
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
  src/plugins/xfiPluginAst/operators/astComplexity.ts
  src/plugins/xfiPluginAst/sampleRules/functionComplexity-iterative-rule.json
Owners: @zotoio/plugin-team

refactor: Improve function complexity analysis and type safety
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
  src/plugins/xfiPluginAst/operators/astComplexity.ts
Owners: @zotoio/plugin-team

refactor: improve type safety and complexity threshold checks
  src/plugins/xfiPluginAst/operators/astComplexity.ts
Owners: @zotoio/plugin-team

refactor: simplify function complexity analysis and improve error handling
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

feat: add max complexity metrics to function complexity fact result
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

fix: update complexity logging to use correct metrics property
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

feat: filter functions by minimum complexity threshold
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

fix: adjust code rhythm calculation and add threshold logging
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

fix: adjust code rhythm calculation to better detect poor patterns
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

fix: add currentNestingDepth tracking in CodeRhythmAnalyzer
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

fix: correct depth parameter handling in code rhythm traversal
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

refactor: improve nesting depth tracking in code rhythm analyzer
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

refactor: simplify code rhythm analysis implementation and tests
  src/plugins/xfiPluginAst/facts/codeRhythmFact.test.ts
Owners: @zotoio/plugin-team

refactor: simplify code rhythm analysis with clearer metrics and calculations
  src/demoConfig/rules/codeRhythm-iterative-rule.json
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/core-team, @zotoio/plugin-team

refactor: map base metrics to expected test metrics structure
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

refactor: improve code rhythm metrics calculation using entropy-based approach
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

refactor: adjust code rhythm metrics calculation for better accuracy
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

fix: adjust code rhythm metrics calculation for test stability
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

fix: adjust code rhythm metric scaling to match test expectations
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

fix: adjust code rhythm metric scaling factors to match test expectations
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

fix(ast): fix ast based examples
  .xfi-config.json
  package.json
  src/demoConfig/node-fullstack.json
  src/demoConfig/rules/functionComplexity-iterative-rule.json
  src/demoConfig/rules/functionCount-iterative-rule.json
  src/index.ts
  src/plugins/xfiPluginAst/facts/codeRhythmFact.test.ts
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
  src/plugins/xfiPluginAst/facts/functionCountFact.ts
  src/plugins/xfiPluginAst/sampleRules/functionComplexity-iterative-rule.json
  src/plugins/xfiPluginAst/xfiPluginAst.ts
  yarn.lock
Owners: @zotoio/core-team, @zotoio/plugin-team

chore(release): 3.15.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  1c88f88c1e1f19491e17910890ce24a7d91d5bce
Owners: @zotoio/core-team

style(demo): make less noisy
  src/demoConfig/rules/functionComplexity-iterative-rule.json
  src/plugins/xfiPluginAst/sampleRules/functionComplexity-iterative-rule.json
Owners: @zotoio/core-team, @zotoio/plugin-team

feat: add support for disabling colored logging via XFI_LOG_COLOR env var
  src/utils/logger.test.ts
  src/utils/logger.ts
Owners: @zotoio/core-team

docs: add logging color control options and documentation
  README.md
  website/docs/environment-variables.md
Owners: @zotoio/core-team, @zotoio/docs-team

docs: remove CLI option for disabling colored logging output
  README.md
  src/utils/logger.ts
Owners: @zotoio/core-team

docs: add detailed explanation for XFI_LOG_COLOR environment variable
  website/docs/environment-variables.md
Owners: @zotoio/docs-team

docs: add XFI_LOG_COLOR environment variable to documentation
  website/docs/getting-started.md
Owners: @zotoio/docs-team

chore(release): 3.16.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  91f8d2bcbbff30681b4c2c402b335867f5c2260b
Owners: @zotoio/core-team
