Repository zotoio/x-fidelity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zotoio/core-team, @zotoio/rules-team, @zotoio/plugin-team, @zotoio/api-team, @zotoio/docs-team, @zotoio/notification-team

feat: add AST analysis capabilities with function complexity detection
  src/demoConfig/node-fullstack.json
  src/demoConfig/rules/functionComplexity-iterative-rule.json
  src/facts/astFacts.ts
  src/facts/index.ts
  src/operators/astComplexity.ts
  src/operators/index.ts
Owners: @zotoio/core-team, @zotoio/rules-team

refactor: move notifications docs to core features section
  website/sidebars.js
Owners: @zotoio/docs-team

docs: add notifications documentation and configuration guide
  website/docs/notifications.md
Owners: @zotoio/docs-team

docs: update notifications docs to clarify email-only support
  website/docs/notifications.md
Owners: @zotoio/docs-team

fix: add proper TypeScript types for tree-sitter nodes and imports
  src/facts/astFacts.ts
Owners: @zotoio/rules-team

fix: update tree-sitter TypeScript import path and usage
  src/facts/astFacts.ts
Owners: @zotoio/rules-team

fix: correct JavaScript parser language initialization
  src/facts/astFacts.ts
Owners: @zotoio/rules-team

fix: correct TypeScript import declaration for tree-sitter-typescript
  src/facts/astFacts.ts
Owners: @zotoio/rules-team

feat: add type declarations for tree-sitter-typescript module
  src/types/tree-sitter-typescript.d.ts
  tsconfig.json
Owners: @zotoio/core-team

feat: create AST plugin with facts and operators
  src/plugins/xfiPluginAst/index.ts
  src/plugins/xfiPluginAst/operators/astComplexity.ts
  src/plugins/xfiPluginAst/xfiPluginAst.ts
Owners: @zotoio/plugin-team

refactor: move AST complexity operator to xfiPluginAst module
  src/operators/astComplexity.ts
Owners: @zotoio/rules-team

refactor: move AST facts to xfiPluginAst and add example rule
  src/facts/astFacts.ts
  src/plugins/xfiPluginAst/facts/astFact.ts
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
  src/plugins/xfiPluginAst/sampleRules/functionComplexity-iterative-rule.json
Owners: @zotoio/rules-team, @zotoio/plugin-team

feat: add debug logging to AST plugin operations
  src/plugins/xfiPluginAst/facts/astFact.ts
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
  src/plugins/xfiPluginAst/operators/astComplexity.ts
Owners: @zotoio/plugin-team

fix: handle empty array case for maxComplexity calculation
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

fix: resolve maxComplexity variable redeclaration in functionComplexityFact
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

refactor: move AST generation logic to dedicated utility module
  src/plugins/xfiPluginAst/facts/astFact.ts
  src/utils/astUtils.ts
Owners: @zotoio/plugin-team, @zotoio/core-team

fix: Update fact value key from 'ast' to 'astResult'
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

refactor: use astUtils for generating AST in functionComplexityFact
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

fix: update tree-sitter walk API usage to use cursor-based traversal
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

fix: replace cursor traversal with recursive AST traversal for complexity analysis
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

feat: add minimum complexity threshold filter for function analysis
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
  src/plugins/xfiPluginAst/sampleRules/functionComplexity-iterative-rule.json
Owners: @zotoio/plugin-team

feat: add function count rule with AST analysis
  src/plugins/xfiPluginAst/facts/functionCountFact.ts
  src/plugins/xfiPluginAst/operators/functionCount.ts
  src/plugins/xfiPluginAst/sampleRules/functionCount-iterative-rule.json
  src/plugins/xfiPluginAst/xfiPluginAst.ts
Owners: @zotoio/plugin-team

feat(plugin): ast based facts and rule examples
  package.json
  src/demoConfig/node-fullstack.json
  src/demoConfig/rules/functionComplexity-iterative-rule.json
  src/demoConfig/rules/functionCount-iterative-rule.json
  src/demoConfig/rules/openaiAnalysisTestCriticality-global-rule.json
  src/facts/astFacts.ts
  src/facts/index.ts
  src/facts/openaiAnalysisFacts.ts
  src/operators/astComplexity.ts
  src/operators/index.ts
  src/plugins/xfiPluginAst/facts/astFact.ts
  src/plugins/xfiPluginAst/operators/astComplexity.ts
  src/plugins/xfiPluginAst/sampleRules/functionComplexity-iterative-rule.json
  tsconfig.json
  yarn.lock
Owners: @zotoio/core-team, @zotoio/rules-team, @zotoio/plugin-team

chore(release): 3.13.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  ee706306a83848edd2fbbf63f552fdeaf4a3811c
Owners: @zotoio/core-team

fix(exemptions): trace logging
  src/core/configManager.test.ts
  src/core/engine/engineRunner.test.ts
  src/core/pluginRegistry.test.ts
  src/demoConfig/node-fullstack-exemptions/project1-node-fullstack-exemptions.json
  src/exampleTriggerFiles/mixedUIComponents.tsx
  src/facts/globalFileAnalysisFacts.test.ts
  src/facts/index.test.ts
  src/facts/openaiAnalysisFacts.test.ts
  src/operators/fileContains.test.ts
  src/operators/globalPatternCount.test.ts
  src/operators/globalPatternRatio.test.ts
  src/operators/openaiAnalysisHighSeverity.test.ts
  src/operators/regexMatch.test.ts
  src/plugins/xfiPluginRemoteStringValidator/facts/remoteSubstringValidation.test.ts
  src/plugins/xfiPluginRemoteStringValidator/operators/invalidRemoteValidation.test.ts
  src/plugins/xfiPluginRequiredFiles/operators/missingRequiredFiles.test.ts
  src/server/cacheManager.test.ts
  src/utils/exemptionUtils.test.ts
  src/utils/exemptionUtils.ts
  src/utils/ruleUtils.test.ts
Owners: @zotoio/core-team, @zotoio/rules-team, @zotoio/plugin-team, @zotoio/api-team

chore(release): 3.13.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  599a0e3d0d5b4a1e1e166dcf57054d42a17d2995
Owners: @zotoio/core-team

refactor(logging): reduce noise at debug level by moving large iterative objects to trace level
  package.json
  src/core/engine/engineRunner.ts
  src/demoConfig/rules/functionComplexity-iterative-rule.json
  src/index.ts
  src/notifications/notificationManager.ts
  src/operators/globalPatternCount.ts
  src/operators/globalPatternRatio.ts
  src/utils/telemetry.ts
  yarn.lock
Owners: @zotoio/core-team, @zotoio/notification-team, @zotoio/rules-team

feat: enhance function complexity analysis with additional metrics
  src/plugins/xfiPluginAst/facts/functionComplexityFact.ts
Owners: @zotoio/plugin-team

feat: add React patterns plugin with hook dependency and cleanup analysis
  src/plugins/xfiPluginReactPatterns/facts/effectCleanupFact.ts
  src/plugins/xfiPluginReactPatterns/facts/hookDependencyFact.ts
  src/plugins/xfiPluginReactPatterns/index.ts
  src/plugins/xfiPluginReactPatterns/sampleRules/effectCleanup-iterative-rule.json
  src/plugins/xfiPluginReactPatterns/sampleRules/hookDependency-iterative-rule.json
  src/plugins/xfiPluginReactPatterns/xfiPluginReactPatterns.ts
Owners: @zotoio/plugin-team

docs: update IDEAS.md with modern engineering team check types
  src/IDEAS.md
Owners: @zotoio/core-team

fix(demo): config speed improvement
  src/demoConfig/rules/functionCount-iterative-rule.json
  src/plugins/xfiPluginRemoteStringValidator/sampleRules/xfiTestMatch.json
Owners: @zotoio/core-team, @zotoio/plugin-team

chore(release): 3.14.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  f37b77f43b56dc91c25f6d24abdf7c4ea6820e63
Owners: @zotoio/core-team

feat: add code rhythm analyzer for AST pattern analysis
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

fix: add proper TypeScript interfaces for syntax tree nodes
  src/plugins/xfiPluginAst/facts/codeRhythmFact.ts
Owners: @zotoio/plugin-team

feat: add code rhythm analysis to node-fullstack configuration
  src/demoConfig/node-fullstack.json
  src/demoConfig/rules/codeRhythm-iterative-rule.json
Owners: @zotoio/core-team

docs: add example files demonstrating code rhythm analysis
  src/exampleTriggerFiles/goodCodeRhythm.ts
  src/exampleTriggerFiles/poorCodeRhythm.ts
Owners: @zotoio/core-team

test: add unit tests for codeRhythmFact metrics and error handling
  src/plugins/xfiPluginAst/facts/codeRhythmFact.test.ts
Owners: @zotoio/plugin-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @zotoio/core-team

# Specific ownership rules
/src/core/ @zotoio/core-team
/src/facts/ @zotoio/rules-team
/src/operators/ @zotoio/rules-team
/src/plugins/ @zotoio/plugin-team
/src/server/ @zotoio/api-team
/src/types/ @zotoio/core-team
/src/utils/ @zotoio/core-team
/website/ @zotoio/docs-team

# Notification test team
/src/notifications/ @zotoio/notification-team
