Repository zotoio/x-fidelity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zotoio/core-team, @zotoio/rules-team, @zotoio/plugin-team, @zotoio/api-team, @zotoio/docs-team, @zotoio/notification-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @zotoio/core-team

# Specific ownership rules
/src/core/ @zotoio/core-team
/src/facts/ @zotoio/rules-team
/src/operators/ @zotoio/rules-team
/src/plugins/ @zotoio/plugin-team
/src/server/ @zotoio/api-team
/src/types/ @zotoio/core-team
/src/utils/ @zotoio/core-team
/website/ @zotoio/docs-team

# Notification test team
/src/notifications/ @zotoio/notification-team

refactor: remove backward compatibility data structures
  src/facts/globalFileAnalysisFacts.test.ts
  src/facts/globalFileAnalysisFacts.ts
  src/operators/globalPatternCount.test.ts
  src/operators/globalPatternCount.ts
  src/operators/globalPatternRatio.test.ts
  src/operators/globalPatternRatio.ts
Owners: @zotoio/rules-team

feat: toggle output between patternData and fileResults based on grouping
  src/facts/globalFileAnalysisFacts.ts
Owners: @zotoio/rules-team

fix: update pattern ratio threshold handling and error logging
  src/facts/globalFileAnalysisFacts.ts
  src/operators/globalPatternRatio.ts
Owners: @zotoio/rules-team

feat: add backward compatibility for pattern data mapping
  src/facts/globalFileAnalysisFacts.ts
Owners: @zotoio/rules-team

fix: add outputGrouping param to fix failing file analysis test
  src/facts/globalFileAnalysisFacts.test.ts
Owners: @zotoio/rules-team

fix: add match field and rename line to context in match details
  src/facts/globalFileAnalysisFacts.ts
Owners: @zotoio/rules-team

fix: simplify threshold value extraction in globalPatternRatio operator
  src/operators/globalPatternRatio.ts
Owners: @zotoio/rules-team

fix: support both value and threshold properties in globalPatternRatio
  src/operators/globalPatternRatio.ts
Owners: @zotoio/rules-team

fix(globalfileanalysis): improve output
  src/demoConfig/node-fullstack.json
  src/demoConfig/rules/lowMigrationToNewComponentLib-global-rule.json
  src/demoConfig/rules/newSdkFeatureNotAdoped-global-rule.json
  src/exampleTriggerFiles/goodCodeRhythm.ts
  src/exampleTriggerFiles/mixedUIComponents.tsx
  src/operators/globalPatternRatio.test.ts
  src/operators/globalPatternRatio.ts
  src/types/typeDefs.ts
Owners: @zotoio/core-team, @zotoio/rules-team

chore(release): 3.21.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  e1ee7e2498ec60f44ccb9915cce83717ff211ede
Owners: @zotoio/core-team

fix(tests): logic issue
  src/operators/globalPatternCount.test.ts
  src/operators/globalPatternCount.ts
  src/operators/globalPatternRatio.test.ts
Owners: @zotoio/rules-team

chore(release): 3.21.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  e65dfeb26847f152aba90b959547f14128132cc4
Owners: @zotoio/core-team

docs: update facts and operators documentation with latest features
  website/docs/facts.md
  website/docs/operators.md
Owners: @zotoio/docs-team

feat: add rule name to log prefix for better traceability
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
  src/core/engine/errorActionExecutor.ts
  src/utils/logger.ts
Owners: @zotoio/core-team

fix: add ruleName property to BasicTelemetryMetadata interface
  src/types/typeDefs.ts
Owners: @zotoio/core-team

fix: add missing logger function mocks in test files
  src/core/engine/engineRunner.test.ts
  src/core/engine/errorActionExecutor.test.ts
Owners: @zotoio/core-team

feat: add backward compatibility for pattern and file output grouping
  src/facts/globalFileAnalysisFacts.ts
Owners: @zotoio/rules-team

refactor: remove backward compatibility for fileMatches output format
  src/facts/globalFileAnalysisFacts.ts
Owners: @zotoio/rules-team

feat: add operator threshold details to rule output and telemetry
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
  src/core/engine/errorActionExecutor.ts
Owners: @zotoio/core-team

feat: add operator threshold details to rule output reports
  src/notifications/reportGenerator.ts
Owners: @zotoio/notification-team

feat: add operator value to rule failure details
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
  src/core/engine/errorActionExecutor.ts
Owners: @zotoio/core-team

feat: add operator value information to report sections
  src/notifications/reportGenerator.ts
Owners: @zotoio/notification-team

feat: enhance rule failure reporting with detailed condition information
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
  src/index.ts
  src/notifications/reportGenerator.ts
  src/types/typeDefs.ts
Owners: @zotoio/core-team, @zotoio/notification-team

feat: add condition details to rule failure output
  src/core/engine/engineRunner.ts
Owners: @zotoio/core-team

feat: enhance XFI_RESULT with detailed rule conditions and recommendations
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
  src/types/typeDefs.ts
Owners: @zotoio/core-team

feat: enhance rule condition details with descriptions and recommendations
  src/core/engine/engineRunner.ts
Owners: @zotoio/core-team

fix: resolve TypeScript type errors and null safety issues
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
  src/core/engine/errorActionExecutor.ts
  src/notifications/reportGenerator.ts
  src/types/typeDefs.ts
  src/utils/jsonSchemas.ts
Owners: @zotoio/core-team, @zotoio/notification-team

refactor: add TypeScript types to operator variables in engine setup
  src/core/engine/engineSetup.ts
Owners: @zotoio/core-team

feat: include all rule conditions and parameters in output
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
  src/types/typeDefs.ts
Owners: @zotoio/core-team

feat: enhance rule condition tracking with detailed condition info
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
Owners: @zotoio/core-team

refactor: simplify condition type assignment in engine runner
  src/core/engine/engineRunner.ts
Owners: @zotoio/core-team

refactor: deduplicate log prefix restoration in engine components
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
Owners: @zotoio/core-team

feat: add all operator value objects to rule results
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
  src/types/typeDefs.ts
Owners: @zotoio/core-team

feat: add all condition operators to rule failure details
  src/core/engine/engineRunner.ts
  src/notifications/reportGenerator.ts
Owners: @zotoio/core-team, @zotoio/notification-team

fix: add type assertions for conditionType in engineSetup
  src/core/engine/engineSetup.ts
Owners: @zotoio/core-team

refactor: remove redundant allConditionOperators field
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
  src/types/typeDefs.ts
Owners: @zotoio/core-team

refactor: remove operatorThreshold and operatorValue fields
  src/core/engine/engineRunner.ts
  src/core/engine/engineSetup.ts
  src/core/engine/errorActionExecutor.ts
  src/notifications/reportGenerator.ts
  src/types/typeDefs.ts
Owners: @zotoio/core-team, @zotoio/notification-team

refactor: replace operator fields with conditionDetails in telemetry metadata
  src/core/engine/engineSetup.ts
Owners: @zotoio/core-team
