Repository zotoio/x-fidelity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zotoio/core-team, @zotoio/rules-team, @zotoio/plugin-team, @zotoio/api-team, @zotoio/docs-team, @zotoio/notification-team

(fix) vscode settings
  CONSOLIDATED-TEST-REPORT.md
Owners: @zotoio/core-team

chore(release): 5.3.0 [skip ci]
  CHANGELOG.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  bf33d95b26431f5c2c8f911cb8361d5224201896
Owners: @zotoio/core-team

docs(website): refresh CLI and VSCode docs; normalize env vars; fix plugin/core references; add result files conventions page
  website/docs/cli-reference.md
  website/docs/environment-variables.md
  website/docs/packages/core.md
  website/docs/plugins/overview.md
  website/docs/result-files-and-conventions.md
  website/docs/vscode-extension/features.md
Owners: @zotoio/docs-team

docs(website): add Quickstart, Hello Rule/Plugin, Rules Cookbook, Recipes, Quick Server Setup, and Troubleshooting to streamline onboarding
  website/docs/examples/recipes.md
  website/docs/plugins/hello-plugin.md
  website/docs/quickstart.md
  website/docs/rules/hello-rule.md
  website/docs/rules/rules-cookbook.md
  website/docs/server/quick-server-setup.md
  website/docs/troubleshooting.md
Owners: @zotoio/docs-team

docs: link Quickstart on homepage and intro; update links; add docs validation script and npm task
  README.md
  package.json
  scripts/validate-docs.js
  website/docs/cli-reference.md
  website/docs/intro.md
  website/src/pages/index.tsx
Owners: @zotoio/core-team, @zotoio/docs-team

(doc) update website
  CONSOLIDATED-TEST-REPORT.md
  scripts/validate-docs.js
  website/docs/intro.md
  website/docs/plugins/overview.md
  website/docs/quickstart.md
  website/src/pages/index.tsx
Owners: @zotoio/core-team, @zotoio/docs-team

ci(website): ensure docusaurus is installed by running yarn install in website before build
  package.json
Owners: @zotoio/core-team

ci(docs): auto-deploy website on master push; grant contents write; publish to gh-pages (orphan)
  .github/workflows/documentation.yml
Owners: @zotoio/core-team

feat(plugins): add xfiPluginExtractValues with multi-strategy extraction (jsonpath/yaml-xpath/regex/ast) and flexible matchesSatisfy operator; add docs, sample rules, and colocated tests
  CONSOLIDATED-TEST-REPORT.md
  packages/x-fidelity-plugins/package.json
  packages/x-fidelity-plugins/src/index.ts
  packages/x-fidelity-plugins/src/xfiPluginExtractValues/facts/extractValuesFact.test.ts
  packages/x-fidelity-plugins/src/xfiPluginExtractValues/facts/extractValuesFact.ts
  packages/x-fidelity-plugins/src/xfiPluginExtractValues/index.ts
  packages/x-fidelity-plugins/src/xfiPluginExtractValues/operators/matchesSatisfy.test.ts
  packages/x-fidelity-plugins/src/xfiPluginExtractValues/operators/matchesSatisfy.ts
  packages/x-fidelity-plugins/src/xfiPluginExtractValues/sampleRules/ast-extract-imports-iterative-rule.json
  packages/x-fidelity-plugins/src/xfiPluginExtractValues/sampleRules/error-capture-iterative-rule.json
  packages/x-fidelity-plugins/src/xfiPluginExtractValues/sampleRules/json-extract-version-iterative-rule.json
  packages/x-fidelity-plugins/src/xfiPluginExtractValues/sampleRules/regex-fallback-env-iterative-rule.json
  packages/x-fidelity-plugins/src/xfiPluginExtractValues/sampleRules/xml-extract-ids-iterative-rule.json
  packages/x-fidelity-plugins/src/xfiPluginExtractValues/sampleRules/yaml-extract-hosts-iterative-rule.json
  packages/x-fidelity-plugins/src/xfiPluginExtractValues/types.ts
  website/docs/plugins/overview.md
  website/docs/plugins/xfi-plugin-extract-values.md
  yarn.lock
Owners: @zotoio/core-team, @zotoio/docs-team

docs(democonfig,fixtures): add demo rules for xfiPluginExtractValues and fixture inputs (.env, package.json version extraction); update node-fullstack archetype to include rules
  packages/x-fidelity-democonfig/src/node-fullstack.json
  packages/x-fidelity-democonfig/src/rules/extractEnvApiKey-iterative-rule.json
  packages/x-fidelity-democonfig/src/rules/extractPackageVersion-iterative-rule.json
  packages/x-fidelity-fixtures/node-fullstack/package.json
  packages/x-fidelity-fixtures/node-fullstack/src/xfiTestMatch.json
Owners: @zotoio/core-team

feat(plugin): extractValues
  CONSOLIDATED-TEST-REPORT.md
Owners: @zotoio/core-team

(fix) build
  CONSOLIDATED-TEST-REPORT.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-core/package.json
  packages/x-fidelity-plugins/package.json
  packages/x-fidelity-server/package.json
  packages/x-fidelity-types/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

chore(release): 5.4.0 [skip ci]
  CHANGELOG.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  860cd6b1a8424a6d2cf90145c54519cd697410f9
Owners: @zotoio/core-team

(fix) democonfig and cleanup
  CONSOLIDATED-TEST-REPORT.md
  packages/x-fidelity-core/src/config/centralConfigManager.test.ts
  packages/x-fidelity-core/src/config/centralConfigManager.ts
  packages/x-fidelity-core/src/core/configManager.ts
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

test(vscode): make setting override integration tests reliable on Windows CI
  packages/x-fidelity-vscode/src/test/integration/vscodeSettingOverride.integration.test.ts
Owners: @zotoio/core-team

test(vscode): fix Windows compile errors in setting override tests
  packages/x-fidelity-vscode/src/test/integration/vscodeSettingOverride.integration.test.ts
Owners: @zotoio/core-team

(fix) windows integration tests
  CONSOLIDATED-TEST-REPORT.md
  packages/x-fidelity-vscode/src/test/integration/vscodeSettingOverride.integration.test.ts
Owners: @zotoio/core-team

(fix) pipeline check
  CONSOLIDATED-TEST-REPORT.md
  packages/x-fidelity-core/src/config/centralConfigManager.test.ts
Owners: @zotoio/core-team

(fix) ver bump
  packages/x-fidelity-cli/src/index.ts
  packages/x-fidelity-vscode/src/extension.ts
Owners: @zotoio/core-team

fix(release): bump
  CONSOLIDATED-TEST-REPORT.md
  packages/x-fidelity-cli/src/index.ts
  packages/x-fidelity-vscode/src/extension.ts
Owners: @zotoio/core-team

Notes added by 'git notes add'
  c896b0c71c34a6fc191b71550ea4668cc47bcdc4
Owners: @zotoio/core-team

chore(release): 5.4.1 [skip ci]
  CHANGELOG.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

chore(release): 5.4.1 [skip ci]
  CHANGELOG.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

test
  .cursor/rules/IMPORTANT_CORE_MEMORY.mdc
  CONSOLIDATED-TEST-REPORT.md
  package.json
  yarn.lock
Owners: @zotoio/core-team

fix(vscode): disable startup popup and fix command delegation tests
  CONSOLIDATED-TEST-REPORT.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-core/package.json
  packages/x-fidelity-fixtures/node-fullstack/package.json
  packages/x-fidelity-plugins/package.json
  packages/x-fidelity-vscode/package.json
  packages/x-fidelity-vscode/src/core/commandDelegationRegistry.ts
  packages/x-fidelity-vscode/src/core/extensionManager.ts
  packages/x-fidelity-vscode/src/diagnostics/codeActionProvider.ts
  packages/x-fidelity-vscode/src/diagnostics/diagnosticProvider.ts
  packages/x-fidelity-vscode/src/extension.ts
  packages/x-fidelity-vscode/src/test/suite/index.ts
  packages/x-fidelity-vscode/src/test/unit/codeActionProvider.unit.test.ts
  packages/x-fidelity-vscode/src/test/unit/commandDelegationRegistry.unit.test.ts
  packages/x-fidelity-vscode/src/test/unit/extensionManager.unit.test.ts
  packages/x-fidelity-vscode/src/utils/codeSnippetExtractor.ts
  packages/x-fidelity-vscode/src/utils/ideDetection.ts
  packages/x-fidelity-vscode/tsconfig.test.json
Owners: @zotoio/core-team

4hr default interval for vscode
  CONSOLIDATED-TEST-REPORT.md
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

chore(release): 5.4.2 [skip ci]
  CHANGELOG.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  ea6de85a308c1285d5729051493d9d6abbb2bf23
Owners: @zotoio/core-team

chore(release): 5.4.3 [skip ci]
  CHANGELOG.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  1c5d2e976a72d4b04a4a052dcc9bccb88c2c35b9
Owners: @zotoio/core-team

feat(plugins): add pnpm support as primary package manager in xfiPluginDependency
  CONSOLIDATED-TEST-REPORT.md
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
  packages/x-fidelity-vscode/src/utils/codeSnippetExtractor.ts
Owners: @zotoio/core-team

fix(plugins): add -r flag to pnpm list for workspace subpackages
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
Owners: @zotoio/core-team

fix(plugins): detect pnpm workspace before using -r flag
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
Owners: @zotoio/core-team

fix(plugins): use JSON.stringify for error logging in dependency plugin
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
Owners: @zotoio/core-team

fix(core,vscode,democonfig): fix complexity report data and settings
  .ai-ignored/CONSOLIDATED-TEST-REPORT.md
  .ai-ignored/REFACTORING_AND_DOCS_PLAN.md
  .ai-ignored/docs/OPUS_OF_ALIGNMENT.md
  .ai-ignored/test-scripts/test-cli-path-resolution.js
  .ai-ignored/test-scripts/test-vscode-cli.js
  .ai-ignored/test-scripts/test-xfi-result-persistence.js
  .ai-ignored/test-scripts/test-xfi-result.js
  .cursor/agents/negative-nelly.md
  .cursor/agents/positive-patty.md
  .cursorignore
  AGENTS.md
  packages/x-fidelity-core/src/notifications/reportGenerator.test.ts
  packages/x-fidelity-core/src/notifications/reportGenerator.ts
  packages/x-fidelity-democonfig/src/node-fullstack.json
  packages/x-fidelity-democonfig/src/rules/extractPackageVersion-iterative-rule.json
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
  packages/x-fidelity-vscode/package.json
  test-xfi-result.js
Owners: @zotoio/core-team

feat(plugins,vscode): highlight dependency issues in manifest files
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/facts/repoDependencyFacts.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.ts
  packages/x-fidelity-types/src/core.ts
  packages/x-fidelity-types/src/index.ts
  packages/x-fidelity-vscode/src/diagnostics/diagnosticProvider.ts
  packages/x-fidelity-vscode/src/utils/diagnosticLocationExtractor.ts
Owners: @zotoio/core-team

feat(vscode,deps): add session toggles and upgrade dependencies
  package.json
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-core/package.json
  packages/x-fidelity-core/src/utils/exemptionUtils.test.ts
  packages/x-fidelity-plugins/package.json
  packages/x-fidelity-server/package.json
  packages/x-fidelity-types/package.json
  packages/x-fidelity-vscode/package.json
  packages/x-fidelity-vscode/src/core/extensionManager.ts
  packages/x-fidelity-vscode/src/test/unit/extensionManager.unit.test.ts
  packages/x-fidelity-vscode/src/ui/treeView/controlCenterTreeProvider.ts
  packages/x-fidelity-vscode/src/ui/treeView/controlCenterTreeViewManager.ts
  website/package.json
  yarn.lock
Owners: @zotoio/core-team, @zotoio/docs-team

fix(plugins): handle scoped packages in manifest location parser
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.test.ts
  packages/x-fidelity-plugins/src/xfiPluginDependency/utils/manifestLocationParser.ts
Owners: @zotoio/core-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @zotoio/core-team

# Specific ownership rules
/src/core/ @zotoio/core-team
/src/facts/ @zotoio/rules-team
/src/operators/ @zotoio/rules-team
/src/plugins/ @zotoio/plugin-team
/src/server/ @zotoio/api-team
/src/types/ @zotoio/core-team
/src/utils/ @zotoio/core-team
/website/ @zotoio/docs-team

# Notification test team
/src/notifications/ @zotoio/notification-team
