Repository zotoio/x-fidelity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zotoio/core-team, @zotoio/rules-team, @zotoio/plugin-team, @zotoio/api-team, @zotoio/docs-team, @zotoio/notification-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @zotoio/core-team

# Specific ownership rules
/src/core/ @zotoio/core-team
/src/facts/ @zotoio/rules-team
/src/operators/ @zotoio/rules-team
/src/plugins/ @zotoio/plugin-team
/src/server/ @zotoio/api-team
/src/types/ @zotoio/core-team
/src/utils/ @zotoio/core-team
/website/ @zotoio/docs-team

# Notification test team
/src/notifications/ @zotoio/notification-team

feat: add support for loading additional rules from repo config
  src/core/engine/engineSetup.ts
Owners: @zotoio/core-team

fix: ensure inline rules are properly processed and assigned
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

fix: correct try/catch block structure in repoXFIConfigLoader
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

test: mock fs.open in repoXFIConfigLoader test
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

fix: improve test mocks for fs.promises and jsonSchemas validation
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

fix: improve file path handling in repoXFIConfigLoader tests
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

refactor: clean up rule processing logic and fix variable naming
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

fix: add non-null assertion for additionalRules array access
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

fix: restructure try/catch blocks and improve error handling in config loader
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

feat: add wildcard support and flexible rule loading patterns
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

fix: prevent duplicate rule registration in engine setup
  src/core/engine/engineSetup.ts
Owners: @zotoio/core-team

fix: improve error message for missing rule files
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

fix: update glob import to use named import syntax
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

test: add referenced rule test case to config loader tests
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

test: update rule loading tests to handle multiple search locations
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

fix: simplify pino file transport configuration
  src/utils/logger.ts
Owners: @zotoio/core-team

fix(tests): update docs and tests for .xfi-config.json
  package.json
  src/core/engine/engineSetup.ts
  yarn.lock
Owners: @zotoio/core-team

refactor: restructure config loading with helper functions
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

refactor: simplify config loader implementation and tests
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

fix: correct try-catch block structure in config loader
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

fix: improve file system mocking in config loader test
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

refactor: improve type safety in repoXFIConfigLoader tests
  src/utils/repoXFIConfigLoader.test.ts
Owners: @zotoio/core-team

feat: add reference to sensitiveLogging-iterative rule
  .xfi-config.json
Owners: @zotoio/core-team

fix: restructure rule loading logic and improve error handling
  src/utils/repoXFIConfigLoader.ts
Owners: @zotoio/core-team

chore(release): 3.19.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  ccc7eb64903303514557e81bbe9e3d8b6edade1f
Owners: @zotoio/core-team

docs: add file path and remote URL examples to xfi-config rules
  .xfi-config.json
Owners: @zotoio/core-team

docs: expand additional rules documentation with plugins and loading order
  website/docs/local-configuration.md
Owners: @zotoio/docs-team

docs: clarify rule path resolution options in local configuration
  website/docs/local-configuration.md
Owners: @zotoio/docs-team

test: add rule loading order and deduplication tests
  src/core/engine/engineSetup.test.ts
Owners: @zotoio/core-team

fix: add missing mock implementation for loadRepoXFIConfig in tests
  src/core/engine/engineSetup.test.ts
Owners: @zotoio/core-team

chore(release): 3.19.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  476ac10715ee7921c3ecc5a9e7b5d197575144bc
Owners: @zotoio/core-team

feat: add fact execution metrics tracking and reporting
  src/core/engine/analyzer.ts
  src/facts/index.ts
  src/types/typeDefs.ts
  src/utils/factMetricsTracker.ts
Owners: @zotoio/core-team, @zotoio/rules-team

fix: update getDependencyVersionFacts to use correct argument
  src/facts/index.ts
Owners: @zotoio/rules-team

refactor: rename lastExecutionTime to longestExecutionTime and reorder metrics
  src/core/engine/analyzer.ts
  src/types/typeDefs.ts
  src/utils/factMetricsTracker.ts
Owners: @zotoio/core-team

refactor: align FactMetric interface with FactMetrics type definition
  src/utils/factMetricsTracker.ts
Owners: @zotoio/core-team

refactor: change execution time tracking from milliseconds to seconds
  src/types/typeDefs.ts
  src/utils/factMetricsTracker.ts
Owners: @zotoio/core-team

refactor: standardize execution time precision to 3 decimal places
  src/types/typeDefs.ts
  src/utils/factMetricsTracker.ts
Owners: @zotoio/core-team

fix: update execution time precision to 4 decimal places and round totals
  src/types/typeDefs.ts
  src/utils/factMetricsTracker.ts
Owners: @zotoio/core-team
