Repository zotoio/x-fidelity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zotoio/core-team, @zotoio/rules-team, @zotoio/plugin-team, @zotoio/api-team, @zotoio/docs-team, @zotoio/notification-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @zotoio/core-team

# Specific ownership rules
/src/core/ @zotoio/core-team
/src/facts/ @zotoio/rules-team
/src/operators/ @zotoio/rules-team
/src/plugins/ @zotoio/plugin-team
/src/server/ @zotoio/api-team
/src/types/ @zotoio/core-team
/src/utils/ @zotoio/core-team
/website/ @zotoio/docs-team

# Notification test team
/src/notifications/ @zotoio/notification-team

feat: add metrics tracking for dynamic fact executions
  src/core/engine/analyzer.ts
Owners: @zotoio/core-team

feat: add report generation with JSON and Markdown output
  src/core/engine/analyzer.ts
Owners: @zotoio/core-team

feat: add report generator for X-Fidelity analysis results
  src/notifications/reportGenerator.ts
Owners: @zotoio/notification-team

refactor: integrate report generator with analyzer and update file operations
  src/core/engine/analyzer.ts
  src/notifications/reportGenerator.ts
  src/utils/logger.ts
Owners: @zotoio/core-team, @zotoio/notification-team

fix: add missing imports and convert fs operations to async
  src/core/engine/analyzer.ts
  src/notifications/reportGenerator.ts
Owners: @zotoio/core-team, @zotoio/notification-team

refactor: standardize report filenames using getFormattedDate
  src/core/engine/analyzer.ts
Owners: @zotoio/core-team

feat: add debug logging for empty report diagnosis
  src/notifications/reportGenerator.ts
Owners: @zotoio/notification-team

fix: add error handling and await for markdown report generation
  src/core/engine/analyzer.ts
Owners: @zotoio/core-team

refactor: change execution time visualization from Gantt to pie chart
  src/notifications/reportGenerator.ts
Owners: @zotoio/notification-team

fix: update property names for sensitive data table generation
  src/notifications/reportGenerator.ts
Owners: @zotoio/notification-team

fix: use correct property name for sensitive data match pattern
  src/notifications/reportGenerator.ts
Owners: @zotoio/notification-team

fix: correct line number property reference in sensitive data report
  src/notifications/reportGenerator.ts
Owners: @zotoio/notification-team

feat: add average execution time per fact in pie chart labels
  src/notifications/reportGenerator.ts
Owners: @zotoio/notification-team

feat: add repo name and date to report title
  src/notifications/reportGenerator.ts
Owners: @zotoio/notification-team

feat: add line number anchors to report table URLs
  src/notifications/reportGenerator.ts
Owners: @zotoio/notification-team

feat: add line number anchors to sensitive data issue links
  src/notifications/reportGenerator.ts
Owners: @zotoio/notification-team

refactor: update dependency version check to use rule-provided minimums
  src/facts/repoDependencyFacts.ts
Owners: @zotoio/rules-team

feat: add minimum version requirements to outdatedFramework rule
  src/demoConfig/rules/outdatedFramework-global-rule.json
Owners: @zotoio/core-team

feat: add getFormattedDate utility function for date formatting
  src/utils/utils.ts
Owners: @zotoio/core-team

checkpoint
  .gitignore
Owners: @zotoio/core-team

Notes added by 'git notes add'
  5ffed2a5bdc49e55f60bfae23d8cd86e39990f00
Owners: @zotoio/core-team

chore(release): 3.20.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @zotoio/core-team

test(timeouts): extend for some long tests
  src/core/configManager.test.ts
  src/core/engine/analyzer.test.ts
  src/index.test.ts
Owners: @zotoio/core-team

feat: add less-than-or-equal comparison to globalPatternRatio operator
  src/operators/globalPatternRatio.test.ts
  src/operators/globalPatternRatio.ts
Owners: @zotoio/rules-team

test: remove redundant assertion in globalFileAnalysis test
  src/facts/globalFileAnalysisFacts.test.ts
Owners: @zotoio/rules-team

test: enhance globalFileAnalysis test coverage and edge cases
  src/facts/globalFileAnalysisFacts.test.ts
Owners: @zotoio/rules-team

fix: update error logging test assertion format
  src/facts/globalFileAnalysisFacts.test.ts
Owners: @zotoio/rules-team

feat: add ratio threshold support to globalPatternCount operator
  src/operators/globalPatternCount.test.ts
  src/operators/globalPatternCount.ts
Owners: @zotoio/rules-team

refactor: Clean up globalFileAnalysis fact implementation and tests
  src/facts/globalFileAnalysisFacts.test.ts
  src/facts/globalFileAnalysisFacts.ts
Owners: @zotoio/rules-team

feat: add file-centric output format to globalFileAnalysis
  src/facts/globalFileAnalysisFacts.test.ts
  src/facts/globalFileAnalysisFacts.ts
  src/operators/hasFilesWithMultiplePatterns.ts
  src/operators/index.ts
Owners: @zotoio/rules-team

fix: initialize file-centric output properties in result object
  src/facts/globalFileAnalysisFacts.test.ts
  src/facts/globalFileAnalysisFacts.ts
Owners: @zotoio/rules-team

docs: add explanatory comments to file analysis test
  src/facts/globalFileAnalysisFacts.test.ts
Owners: @zotoio/rules-team

fix: update test assertions to include file-centric output properties
  src/facts/globalFileAnalysisFacts.test.ts
Owners: @zotoio/rules-team

refactor: optimize file results to only include files with matches
  src/facts/globalFileAnalysisFacts.ts
Owners: @zotoio/rules-team

refactor: rename outputFormat param to outputGrouping and simplify results structure
  src/facts/globalFileAnalysisFacts.test.ts
  src/facts/globalFileAnalysisFacts.ts
Owners: @zotoio/rules-team

test: comment out failing test assertion for pattern matches
  src/facts/globalFileAnalysisFacts.test.ts
Owners: @zotoio/rules-team

test: improve file analysis test coverage and assertions
  src/facts/globalFileAnalysisFacts.test.ts
Owners: @zotoio/rules-team

refactor: simplify file analysis output structure and improve error handling
  src/facts/globalFileAnalysisFacts.ts
Owners: @zotoio/rules-team

refactor: use arrays instead of regex patterns as object keys
  src/facts/globalFileAnalysisFacts.test.ts
  src/facts/globalFileAnalysisFacts.ts
Owners: @zotoio/rules-team

refactor: Move RatioThreshold interface to typeDefs and fix threshold property
  src/operators/globalPatternRatio.ts
Owners: @zotoio/rules-team
