Repository zotoio/x-fidelity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zotoio/core-team, @zotoio/rules-team, @zotoio/plugin-team, @zotoio/api-team, @zotoio/docs-team, @zotoio/notification-team

style: fix Prettier formatting in VSCode extension
  packages/x-fidelity-vscode/src/core/resultCoordinator.ts
  packages/x-fidelity-vscode/src/types/issues.ts
Owners: @zotoio/core-team

feat(vscode): unify issue details structure for reports, tooltips, and AI prompts
  packages/x-fidelity-core/src/notifications/reportGenerator.integration.test.ts
  packages/x-fidelity-core/src/notifications/reportGenerator.test.ts
  packages/x-fidelity-core/src/notifications/reportGenerator.ts
  packages/x-fidelity-vscode/src/core/commandDelegationRegistry.ts
  packages/x-fidelity-vscode/src/core/resultCoordinator.ts
  packages/x-fidelity-vscode/src/types/issues.ts
  packages/x-fidelity-vscode/src/ui/treeView/issuesTreeProvider.ts
  packages/x-fidelity-vscode/src/utils/fileSourceTranslator.unit.test.ts
Owners: @zotoio/core-team

fix: update copyright information in docusaurus config
  .ai-ignored/docs/ENHANCEMENT_PROPOSALS.md
  website/docusaurus.config.js
Owners: @zotoio/core-team, @zotoio/docs-team

feat(vscode): add configurable prompt prefixes for AI commands
  packages/x-fidelity-vscode/package.json
  packages/x-fidelity-vscode/src/core/commandDelegationRegistry.ts
  packages/x-fidelity-vscode/src/test/unit/commandDelegationRegistry.unit.test.ts
Owners: @zotoio/core-team

chore(deps): remove deprecated codecov npm package
  docs/codecov-local-validation.md
  package.json
  scripts/codecov-local.js
  yarn.lock
Owners: @zotoio/core-team

feat: add xfi-system-design agent and knowledge management system
  .cursor/agents/xfi-build-expert.md
  .cursor/agents/xfi-code-reviewer.md
  .cursor/agents/xfi-debugger.md
  .cursor/agents/xfi-docs-expert.md
  .cursor/agents/xfi-plugin-expert.md
  .cursor/agents/xfi-rules-expert.md
  .cursor/agents/xfi-security-expert.md
  .cursor/agents/xfi-system-design.md
  .cursor/agents/xfi-testing-expert.md
  .cursor/agents/xfi-vscode-expert.md
  .cursor/commands/xfi-design.md
  .cursor/rules/subagent-delegation.mdc
  AGENTS.md
  docs/architecture/README.md
  knowledge/KNOWLEDGE_GUIDELINES.md
  knowledge/README.md
  knowledge/build-expert/README.md
  knowledge/code-reviewer/README.md
  knowledge/debugger/README.md
  knowledge/docs-expert/README.md
  knowledge/plugin-expert/README.md
  knowledge/rules-expert/README.md
  knowledge/security-expert/README.md
  knowledge/shared/README.md
  knowledge/system-design/README.md
  knowledge/testing-expert/README.md
  knowledge/vscode-expert/README.md
Owners: @zotoio/core-team

chore(release): 5.5.2 [skip ci]
  CHANGELOG.md
Owners: @zotoio/core-team

chore(release): 5.6.0 [skip ci]
  CHANGELOG.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

chore(deps): update Docusaurus and related packages to version 3.9.2
  website/package.json
  website/yarn.lock
Owners: @zotoio/docs-team

feat: add xfi-planner and xfi-engineer agents with planning system
  .cursor/agents/xfi-engineer.md
  .cursor/agents/xfi-planner.md
  .cursor/commands/xfi-plan-execute.md
  .cursor/commands/xfi-plan.md
  .cursor/rules/subagent-delegation.mdc
  .cursor/skills/xfi-create-plan/SKILL.md
  .cursor/skills/xfi-execute-plan/SKILL.md
  AGENTS.md
  knowledge/README.md
  knowledge/engineer/README.md
  knowledge/planner/README.md
  knowledge/plans/README.md
Owners: @zotoio/core-team

chore(release): bump version to 5.7.0 for x-fidelity and x-fidelity-vscode
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

feat(plan): add web-based rule builder GUI engineering plan
  knowledge/plans/20260118-rule-builder-gui/index-rule-builder-gui-20260118.md
  knowledge/plans/20260118-rule-builder-gui/subtask-01-rule-builder-gui-scaffold-20260118.md
  knowledge/plans/20260118-rule-builder-gui/subtask-02-rule-builder-gui-browser-plugins-20260118.md
  knowledge/plans/20260118-rule-builder-gui/subtask-03-rule-builder-gui-fixture-bundles-20260118.md
  knowledge/plans/20260118-rule-builder-gui/subtask-04-rule-builder-gui-state-management-20260118.md
  knowledge/plans/20260118-rule-builder-gui/subtask-05-rule-builder-gui-tree-component-20260118.md
  knowledge/plans/20260118-rule-builder-gui/subtask-06-rule-builder-gui-form-component-20260118.md
  knowledge/plans/20260118-rule-builder-gui/subtask-07-rule-builder-gui-monaco-editor-20260118.md
  knowledge/plans/20260118-rule-builder-gui/subtask-08-rule-builder-gui-template-library-20260118.md
  knowledge/plans/20260118-rule-builder-gui/subtask-09-rule-builder-gui-simulation-panel-20260118.md
  knowledge/plans/20260118-rule-builder-gui/subtask-10-rule-builder-gui-docusaurus-integration-20260118.md
  knowledge/plans/20260118-rule-builder-gui/subtask-11-rule-builder-gui-testing-20260118.md
  knowledge/plans/20260118-rule-builder-gui/subtask-12-rule-builder-gui-documentation-20260118.md
Owners: @zotoio/core-team

test(vscode,core): add unit tests for tree providers and improve coverage
  packages/x-fidelity-core/src/notifications/reportGenerator.test.ts
  packages/x-fidelity-vscode/src/test/unit/commandDelegationRegistry.unit.test.ts
  packages/x-fidelity-vscode/src/test/unit/controlCenterTreeProvider.unit.test.ts
  packages/x-fidelity-vscode/src/test/unit/controlCenterTreeViewManager.unit.test.ts
  packages/x-fidelity-vscode/src/test/unit/issuesTreeProvider.unit.test.ts
  packages/x-fidelity-vscode/src/test/unit/resultCoordinator.unit.test.ts
Owners: @zotoio/core-team

docs(plan): mark rule-builder-gui plan as completed
  knowledge/plans/20260118-rule-builder-gui/index-rule-builder-gui-20260118.md
Owners: @zotoio/core-team

chore(cursor): add cursor hooks configuration
  .cursor/hooks.json
  .cursor/hooks/load-agents-context.sh
Owners: @zotoio/core-team

fix(website): resolve TypeScript errors in rule-builder
  website/rule-builder/src/components/RuleForm/data/factCatalog.ts
  website/rule-builder/src/components/RuleForm/fields/PathSelector.tsx
  website/rule-builder/src/components/RuleForm/forms/EventParamForm.tsx
  website/rule-builder/src/components/RuleTree/TreeNode.tsx
  website/rule-builder/src/lib/fixtures/node-fullstack.json
  website/rule-builder/src/lib/templates/__tests__/templateValidation.test.ts
  website/rule-builder/src/lib/utils/globalRuleUtils.ts
Owners: @zotoio/docs-team

fix(vscode): resolve TypeScript errors in unit tests
  packages/x-fidelity-vscode/src/test/unit/commandDelegationRegistry.unit.test.ts
  packages/x-fidelity-vscode/src/test/unit/controlCenterTreeViewManager.unit.test.ts
Owners: @zotoio/core-team

fix(website): prevent dropdown clipping in SimulationPanel
  website/rule-builder/src/components/SimulationPanel/SimulationPanel.tsx
Owners: @zotoio/docs-team

fix(vscode): add test file type-checking to test scripts
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

fix(website): resolve broken rule-builder links in Docusaurus build
  website/docs/getting-started.md
  website/docs/intro.md
  website/docs/rules.md
  website/docs/rules/hello-rule.md
  website/docs/rules/rule-builder-guide.md
  website/docs/rules/rules-cookbook.md
  website/docusaurus.config.js
  website/package.json
  website/src/components/HomepageFeatures/index.tsx
  website/static/rule-builder/index.html
Owners: @zotoio/docs-team

chore(release): 5.7.0 [skip ci]
  CHANGELOG.md
Owners: @zotoio/core-team

Notes added by 'git notes add'
  68fe89a763e7da4d3be175f91fe93bc9ecd85998
Owners: @zotoio/core-team

chore(release): bump CLI and VSCode extension to 5.7.1
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

chore(release): 5.7.1 [skip ci]
  CHANGELOG.md
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

Notes added by 'git notes add'
  68a724e8750d60b80a575065cf3202c0d18c08f4
Owners: @zotoio/core-team

fix(release): bump CLI and VSCode extension to 5.7.2
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

Add NPM_TOKEN to release workflow
  .github/workflows/release-unified.yml
Owners: @zotoio/core-team

chore(release): 5.7.2 [skip ci]
  CHANGELOG.md
Owners: @zotoio/core-team

Notes added by 'git notes add'
  f551ae470b73220ec586ce54ccd6d6c5ccb1dd67
Owners: @zotoio/core-team

fix(release): bump CLI and VSCode extension to 5.7.3
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

chore(release): 5.7.3 [skip ci]
  CHANGELOG.md
Owners: @zotoio/core-team

Notes added by 'git notes add'
  24a64d7ed327d278fe63f264b4c25f4620b15dfd
Owners: @zotoio/core-team

fix(ci): add NODE_AUTH_TOKEN and remove OIDC permissions
  .github/workflows/release-unified.yml
Owners: @zotoio/core-team

fix(release): bump CLI and VSCode extension to 5.7.4
  packages/x-fidelity-cli/package.json
  packages/x-fidelity-vscode/package.json
Owners: @zotoio/core-team

chore(release): 5.7.4 [skip ci]
  CHANGELOG.md
Owners: @zotoio/core-team

Notes added by 'git notes add'
  64f58d82088c7d7866a3cddc5327ccfd42a872d5
Owners: @zotoio/core-team

chore(release): 5.7.4 [skip ci]
  CHANGELOG.md
Owners: @zotoio/core-team

docs(crux): add CRUX semantic compression specification and rule files
  .cursor/agents/crux-cursor-rule-expert.md
  .cursor/agents/crux-cursor-rule-manager.md
  .cursor/agents/crux-rule-expert.md
  .cursor/rules/_ALWAYS-LOAD-CRUX-SPEC.mdc
  .cursor/rules/_CRUX-Compression-Specification.mdc
  .cursor/rules/_CRUX-RULE.mdc
  .cursor/rules/_IMPORTANT_CORE_MEMORY.crux.mdc
  .cursor/rules/_IMPORTANT_CORE_MEMORY.md
  .cursor/rules/core-tenets.crux.mdc
  .cursor/rules/core-tenets.md
  .cursor/rules/subagent-delegation.mdc
  .cursor/rules/vscode-optimise.crux.mdc
  .cursor/rules/xfi-coding-standards.crux.mdc
  .cursor/rules/xfi-coding-standards.md
  AGENTS.md
  CRUX.md
Owners: @zotoio/core-team

docs(crux): add token count metrics and update edit policy
  .cursor/agents/crux-cursor-rule-expert.md
  .cursor/agents/crux-cursor-rule-manager.md
  .cursor/rules/_ALWAYS-LOAD-CRUX-SPEC.mdc
  .cursor/rules/_CRUX-RULE.mdc
  .cursor/rules/_IMPORTANT_CORE_MEMORY.crux.mdc
  .cursor/rules/core-tenets.crux.mdc
  .cursor/rules/vscode-optimise.crux.mdc
  .cursor/rules/xfi-coding-standards.crux.mdc
  AGENTS.md
  CRUX.md
Owners: @zotoio/core-team

refactor(crux): standardize source/output file conventions
  .cursor/agents/crux-cursor-rule-expert.md
  .cursor/commands/crux-compress.md
  .cursor/rules/_ALWAYS-LOAD-CRUX-SPEC.mdc
  .cursor/rules/_CRUX-Compression-Specification.mdc
  .cursor/rules/_IMPORTANT_CORE_MEMORY.crux.mdc
  .cursor/rules/_IMPORTANT_CORE_MEMORY.md
  .cursor/rules/core-tenets.md
  .cursor/rules/vscode-optimise.crux.mdc
  .cursor/rules/vscode-optimise.md
  .cursor/rules/xfi-coding-standards.crux.mdc
  .cursor/rules/xfi-coding-standards.md
Owners: @zotoio/core-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @zotoio/core-team

# Specific ownership rules
/src/core/ @zotoio/core-team
/src/facts/ @zotoio/rules-team
/src/operators/ @zotoio/rules-team
/src/plugins/ @zotoio/plugin-team
/src/server/ @zotoio/api-team
/src/types/ @zotoio/core-team
/src/utils/ @zotoio/core-team
/website/ @zotoio/docs-team

# Notification test team
/src/notifications/ @zotoio/notification-team
